<md-toolbar color="primary">
  Angular Todo App
  <span class="element-filler"></span>
  <button md-button (click)="addNewProject()">
    <md-icon>add</md-icon>
    Add new Project
  </button>
</md-toolbar>

<div id="container" class="container">
  <masonry>
    <masonry-brick *ngFor="let project of projects;">
      <md-card>
        <md-card-header>
          <md-card-title>
            <div fxLayout="row">
              <div fxFlex>
                <input class="project-title" placeholder="Project Title" [(ngModel)]="project.name"
                       [debounce]="500" (onDebounce)="saveProject(project)">
              </div>
              <button md-icon-button (click)="removeProject(project)">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </md-card-title>
        </md-card-header>

        <md-card-content>
            <div *ngFor="let task of project.tasks; let i=index">
              <div *ngIf="i<6">

                <!--<ion-icon name="square-outline" *ngIf="!task.completed"></ion-icon>-->
                <!--<ion-icon name="checkbox" *ngIf="task.completed"></ion-icon>-->
                <span class="taskname" [ngClass]="{'taskcompleted': task.completed}">{{task.name}}</span>
              </div>
            </div>

          <div class="taskempty" *ngIf="project.tasks.length==0">
            <md-icon>info</md-icon>
            <span>Tap here to add tasks</span><br><br>
          </div>

        </md-card-content>
        <md-card-actions>
          <div fxLayout="row">
            <md-input-container class="add-task" fxFlex>
              <input mdInput placeholder="Add Task">
            </md-input-container>
            <button md-icon-button>
              <md-icon>add</md-icon>
            </button>
          </div>
        </md-card-actions>
      </md-card>
    </masonry-brick>
  </masonry>
</div>
