.element-filler {
  flex: 1 1 auto;
}

.container {
  padding: 100px 40px 40px 40px;
}

md-toolbar {
  position: fixed;
  z-index: 1000;
}

md-card {
  padding: 24px 8px;
}

md-card-content {
  padding: 0px 8px;
}

md-card-actions{
  width: 100%;
  margin-left: 0;
}

.project-title {
  border: none;
  font-size: 1.5rem;
  color: #333;
  width: 100%;
}

.project-title:focus {
  box-shadow: none;
  outline: none;
}

.add-task{
  margin-left: 14px;
}

/*Columns Breakpoints*/
@media only screen and (min-width: 300px) {
  masonry-brick {
    width: calc(100% - 10px);
    padding: 5px;
  }

  .container {
    padding: 70px 10px 10px 10px;
  }
}

@media only screen and (min-width: 600px) {
  masonry-brick {
    width: calc(50% - 10px);
    padding: 5px;
  }

  .container {
    padding: 80px 20px 20px 20px;
  }
}

@media only screen and (min-width: 900px) {
  masonry-brick {
    width: calc(33.3333% - 10px);
    padding: 5px;
  }

  .container {
    padding: 100px 40px 40px 40px;
  }
}

@media only screen and (min-width: 1200px) {
  masonry-brick {
    width: calc(25% - 20px);
    padding: 10px;
  }

  .container {
    padding: 100px 40px 40px 40px;
  }
}
