<md-toolbar color="primary">
  Angular Todo App
  <span class="element-filler"></span>
  <button md-button (click)="addNewProject()">
    <md-icon>add</md-icon>
    Add new Project
  </button>
</md-toolbar>

<div id="container" class="container">
  <masonry>
    <masonry-brick *ngFor="let project of projects;">
      <md-card>
        <md-card-header>
          <md-card-title>
            <div fxLayout="row">
              <div fxFlex>
                <input class="project-title" placeholder="Project Title" [(ngModel)]="project.name"
                       [debounce]="500" (onDebounce)="saveProject(project)">
              </div>
              <button md-icon-button (click)="removeProject(project)">
                <md-icon>delete</md-icon>
              </button>
            </div>
          </md-card-title>
        </md-card-header>

        <md-card-content>
          <ng-container *ngFor="let task of project.tasks; let i=index">
            <div class="task-item" fxLayout="row" *ngIf="!task.completed">
              <md-checkbox class="example-margin" [(ngModel)]="task.completed"
                           (ngModelChange)="saveProject(project)"></md-checkbox>
              <div fxFlex>
                <input class="task-title" placeholder="Task Title" [(ngModel)]="task.name">
              </div>
              <button md-icon-button (click)="removeTask(project, task)">
                <md-icon>close</md-icon>
              </button>
            </div>
          </ng-container>

          <div class="task-empty" *ngIf="project.tasks.length==0">
            <br>
            <md-icon>info</md-icon><br>
            <h3>This project is a little empty.<br> Add some tasks.</h3>
          </div>

          <div id="task-completed-header" *ngIf="checkForCompletedTasks(project)">
            <h4>Completed</h4>
          </div>

          <ng-container *ngFor="let task of project.tasks; let i=index">
            <div class="task-item" fxLayout="row" *ngIf="task.completed">
              <md-checkbox class="example-margin" [(ngModel)]="task.completed"
                           (ngModelChange)="saveProject(project)"></md-checkbox>
              <div fxFlex>
                <span class="task-completed">{{task.name}}</span>
              </div>
              <button md-icon-button (click)="removeTask(project, task)">
                <md-icon>close</md-icon>
              </button>
            </div>
          </ng-container>

        </md-card-content>
        <md-card-actions>
          <div fxLayout="row">
            <md-input-container class="add-task" fxFlex>
              <input mdInput placeholder="Add Task" [(ngModel)]="project.newTask"
                     (keydown)="addTaskOnKeyEnterPress($event, project)">
            </md-input-container>
            <button md-icon-button (click)="addTask(project)">
              <md-icon>add</md-icon>
            </button>
          </div>
        </md-card-actions>
      </md-card>
    </masonry-brick>
  </masonry>
</div>
